#set($layout = "/layout/buyerAddressManager_layout.vm")
<div class="main">
    <div class="container main-inner">
        <div class="row">
            #parse("/new/user_sidebar.vm")
            <div class="col-md-8">
                <div class="user-profile" data-j="userProfile">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation">
                            <a href="/cooka-user-web/center/profile" aria-controls="basic-information" role="tab">#springMessage("basic_information")</a>
                        </li>
                        <li role="presentation" class="active">
                            <a href="/cooka-user-web/center/myAddress" aria-controls="address-management" role="tab">#springMessage("address_management")</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" id="basic-information">

                        </div>
                        <div role="tabpanel" class="tab-pane active" id="address-management">
                            <div class="receipt-message-module" data-j="receiptMessage">
                            	#foreach($deliverAddr in $deliverAddrs) 
                            	#if($deliverAddr.isDefault)
                                <div class="receipt-message-info receipt-message-info-line active" data-addr-id='$deliverAddr.deliveraddrId' 
                                	data-addr='{
										"address":[
										#foreach($address in ${deliverAddr.address})
										
										#if($velocityCount == 1)
										
										{"items":{
										
										#foreach($param in ${address.items.keySet()})
										#if($velocityCount == 1)
										"$param":"$address.items.get($param)"
										#else
										,"$param":"$address.items.get($param)"
										#end
										#end
										},
										"name": "$!{address.name}",
			                			"parent": "$!{address.parent}",
			                			"value": "$!{address.value}"
										}
										#else
										
										,{"items":{
										#foreach($param in ${address.items.keySet()})
										#if($velocityCount == 1)
										"$param":"$address.items.get($param)"
										#else
										,"$param":"$address.items.get($param)"
										#end
										#end
										},
										"name": "$!{address.name}",
			                			"parent": "$!{address.parent}",
			                			"value": "$!{address.value}"
										}
										#end
										
										#end
										],
										"name":"$deliverAddr.name"
										,"country":"$!{deliverAddr.country}"
										,"state":"$!{deliverAddr.state}"
										,"city":"$!{deliverAddr.city}"
										,"region":"$!{deliverAddr.region}"
										,"addrDetail":"$!{deliverAddr.addrDetail}"
										,"deliveraddrId":$!{deliverAddr.deliveraddrId}
										,"isDefault":$!{deliverAddr.isDefault}
										,"name":"$!{deliverAddr.name}"
										,"phone":"$!{deliverAddr.phone}"
										,"userId":$!{deliverAddr.userId}
										,"zipcode":"$!{deliverAddr.zipcode}"}'>
									<div class="receipt-message-set-default">
										#springMessage("default")
									</div>
                                    <div class="receipt-message-common receipt-message-details" >
                                        <div class="receipt-message-name">$!{deliverAddr.name}</div>
                                        <div class="receipt-message-address" title="$!{deliverAddr.addrDetail}, $!{deliverAddr.region}, $!{deliverAddr.city}, $!{deliverAddr.state}, $!{deliverAddr.country}">deliverAddr:&nbsp;&nbsp;$!{deliverAddr.addrDetail}, $!{deliverAddr.region}, $!{deliverAddr.city}, $!{deliverAddr.state}, $!{deliverAddr.country}</div>
                                        <div class="receipt-message-postcode">Postcode:&nbsp;&nbsp;$!{deliverAddr.zipcode}</div>
                                        <div class="receipt-message-tel">Telephone:&nbsp;&nbsp;$!{deliverAddr.phone}</div>
                                    </div>
                                    <div class="receipt-message-opt">
                                        <span class="icon-edit-o receipt-message-opt-edit" data-toggle="modal" data-target="#info-change-modal"></span>
                                        <span class="icon-delete-o receipt-message-opt-del hide"></span>
                                    </div>
                                    <span class="icon-check"></span>
                                </div>
								#else
                                <div class="receipt-message-info receipt-message-info-line"  data-addr-id='$deliverAddr.deliveraddrId' data-addr='{
										"address":[
										#foreach($address in ${deliverAddr.address})
										
										#if($velocityCount == 1)
										
										{"items":{
										
										#foreach($param in ${address.items.keySet()})
										#if($velocityCount == 1)
										"$param":"$address.items.get($param)"
										#else
										,"$param":"$address.items.get($param)"
										#end
										#end
										},
										"name": "$!{address.name}",
			                			"parent": "$!{address.parent}",
			                			"value": "$!{address.value}"
										}
										#else
										
										,{"items":{
										#foreach($param in ${address.items.keySet()})
										#if($velocityCount == 1)
										"$param":"$address.items.get($param)"
										#else
										,"$param":"$address.items.get($param)"
										#end
										#end
										},
										"name": "$!{address.name}",
			                			"parent": "$!{address.parent}",
			                			"value": "$!{address.value}"
										}
										#end
										
										#end
										],
										"name":"$deliverAddr.name"
										,"country":"$!{deliverAddr.country}"
										,"state":"$!{deliverAddr.state}"
										,"city":"$!{deliverAddr.city}"
										,"region":"$!{deliverAddr.region}"
										,"addrDetail":"$!{deliverAddr.addrDetail}"
										,"deliveraddrId":$!{deliverAddr.deliveraddrId}
										,"isDefault":$!{deliverAddr.isDefault}
										,"name":"$!{deliverAddr.name}"
										,"phone":"$!{deliverAddr.phone}"
										,"userId":$!{deliverAddr.userId}
										,"zipcode":"$!{deliverAddr.zipcode}"}'>
									<div class="receipt-message-set-default">
										default
									</div>
                                    <div class="receipt-message-common receipt-message-details">
                                        <div class="receipt-message-name">$!{deliverAddr.name}</div>
                                        <div class="receipt-message-address" title="$!{deliverAddr.addrDetail}, $!{deliverAddr.region}, $!{deliverAddr.city}, $!{deliverAddr.state}, $!{deliverAddr.country}">deliverAddr:&nbsp;&nbsp;$!{deliverAddr.addrDetail}, $!{deliverAddr.region}, $!{deliverAddr.city}, $!{deliverAddr.state}, $!{deliverAddr.country}</div>
                                        <div class="receipt-message-postcode">Postcode:&nbsp;&nbsp;$!{deliverAddr.zipcode}</div>
                                        <div class="receipt-message-tel">Telephone:&nbsp;&nbsp;$!{deliverAddr.phone}</div>
                                    </div>
                                    <div class="receipt-message-opt">
                                        <span class="icon-edit-o receipt-message-opt-edit" data-toggle="modal" data-target="#info-change-modal"></span>
                                        <span class="icon-delete-o receipt-message-opt-del"></span>
                                    </div>
                                    <span class="icon-check"></span>
                                </div>
                                #end
                                #end

                                <div class="receipt-message-info receipt-message-info-line receipt-message-info-empty" data-toggle="modal" data-target="#info-edit-modal">
                                    <span class="receipt-message-opt-add"><span class="icon-plus-thin"></span></span>
                                    <span class="receipt-message-opt-tips"> #springMessage("add_a_new_address")</span>
                                    <span class="icon-check"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade info-edit-modal" id="info-change-modal" tabindex="-1" data-j="infoEditModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal">
					<span class="icon-close"></span>
				</button>

				<div class="modal-body">
					<div class="info-edit-modal-content">
						<h5 class="info-edit-modal-title">Change Address</h5>
						<div class="info-edit-modal-form">
							<form class="form-horizontal" id="info-change-form" action="/cooka-order-web/addUserAddrHandler" method="post">
								#springMessage("load_failed")
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="modal fade info-edit-modal" id="info-edit-modal" tabindex="-1" data-j="infoEditModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">
                    <span class="icon-close"></span>
                </button>

                <div class="modal-body">
                    <div class="info-edit-modal-content">
                        <h5 class="info-edit-modal-title">Add New Address</h5>
                        <div class="info-edit-modal-form">
                            <form class="form-horizontal" id="info-edit-form">
                                <div class="form-group">
                                    <label for="" class="col-md-2 col-md-offset-1 control-label">Name</label>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control f-name" name="name" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-md-2 col-md-offset-1 control-label">Phone</label>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control f-phone" name="phone">
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label for="" class="col-md-2 col-md-offset-1 control-label">Telephone</label>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control f-telephone" name="">
                                    </div>
                                </div> -->
                                <div class="form-group" data-j="addressGroup">
                                    <label for="" class="col-md-2 col-md-offset-1 control-label">Address</label>
                                    <div class="col-md-5">
                                        <div class="row">
											<div class="col-md-5">
												<select class="form-control f-country address-select" data-level="0" data-parent="State" name="country">
													<option value="">-- #springMessage("select") --</option> #foreach($country in $countries)
													<option value="$!country.country" data-parentid="$!country.countryId" #if($!{userProfile.userProfile.country}==$!{country.country})selected#end>$!country.country</option>
													#end
												</select>
											</div>
											<div class="col-md-5">
												<select class="form-control f-state address-select" data-level="1" data-parent="City" name="state" value="$!{userProfile.userProfile.state}">
													<option value="">-- #springMessage("select") --</option>
												</select>
											</div>
											<div class="col-md-5">
												<select class="form-control f-city address-select" data-level="2" data-parent="Region" name="city" value="$!{userProfile.userProfile.city}">
													<option value="">-- #springMessage("select") --</option>
												</select>
											</div>
											<div class="col-md-5">
												<select class="form-control f-region address-select" data-level="3" name="region" value="$!{userProfile.userProfile.region}">
													<option value="">-- #springMessage("select") --</option>
												</select>
											</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-md-offset-1 control-label">Address details</label>
                                    <div class="col-md-5">
                                        <textarea class="form-control f-addr-detail" name="addrDetail" rows="4"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-md-2 col-md-offset-1 control-label">postal code</label>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control f-zipcode" name="zipcode">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5 col-md-offset-3">
                                        <button class="btn btn-primary btn-full" type="submit">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>