#set($layout = "/layout/resetpaswd_layout.vm")
#if($flag == "showResetForm")
<div class="main">
	<div class="container">
		<div class="col-md-10">
			<div class="reset-pw" data-j="resetPw">
				<div class="reset-pw-inner">
					<div class="reset-pw-header">#springMessage("reset_password")</div>
					<div class="reset-pw-body">
						<ul class="reset-pw-steps">
							<li class="done">
								<span class="reset-pw-step-text">#springMessage("enter_email")</span>
								<span class="reset-pw-step-num">1</span>
							</li>
							<li class="done">
								<span class="reset-pw-step-text">#springMessage("confirm_email")</span>
								<span class="reset-pw-step-num">2</span>
							</li>
							<li class="done">
								<span class="reset-pw-step-text">#springMessage("reset_password")</span>
								<span class="reset-pw-step-num">3</span>
							</li>
							<li>
								<span class="reset-pw-step-text">#springMessage("complete")</span>
								<span class="reset-pw-step-num">4</span>
							</li>
						</ul>

						<p class="text-center">#springMessage("please_enter_new_password_and_click_continue")</p>

						<div class="reset-pw-form-wrapper">
							<form action="doresetpaswd" class="form-horizontal" id="reset-pw-form" method="post">
							   <input type="hidden" name="xToken" value="$csrfTool.getToken($request)"/>
							
								<div class="alert alert-danger reset-pw-errors hide">
									#springBind("user.password")
									#foreach($error in $status.errorMessages)
								 		$error<br>
								 	#end
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<span class="icon-lock-o"></span>
										</span>
										<input type="password" name="password" class="form-control f-password" placeholder="Password"></div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<span class="icon-check-lock-o"></span>
										</span>
										<input type="password" class="form-control f-confirm-password" placeholder="Confirm Password"></div>
								</div>
								<div class="form-group">
									<button class="btn btn-secondary-light btn-block reset-pw-btn" type="submit">#springMessage("submit")</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
#elseif($flag == "resetSuccess")
<div class="main">
	<div class="container">
		<div class="col-md-10">
			<div class="reset-pw" data-j="resetPw">
				<div class="reset-pw-inner">
					<div class="reset-pw-header">#springMessage("reset_password")</div>
					<div class="reset-pw-body">
						<ul class="reset-pw-steps">
							<li class="done">
								<span class="reset-pw-step-text">#springMessage("enter_email")</span>
								<span class="reset-pw-step-num">1</span>
							</li>
							<li class="done">
								<span class="reset-pw-step-text">#springMessage("confirm_email")</span>
								<span class="reset-pw-step-num">2</span>
							</li>
							<li class="done">
								<span class="reset-pw-step-text">#springMessage("reset_password")</span>
								<span class="reset-pw-step-num">3</span>
							</li>
							<li class="done">
								<span class="reset-pw-step-text">#springMessage("complete")</span>
								<span class="reset-pw-step-num">4</span>
							</li>
						</ul>
						
						<div class="reset-pw-article">
							<div class="reset-pw-success">
								<span class="icon-check-circle-o"></span>
								#springMessage("finish_reset_password")!
							</div>
							<a href="/" class="btn btn-secondary-light reset-pw-btn">#springMessage("back_home")</a>
							<br>
							<br>
							<a href="/cooka-user-web/login">#springMessage("go_login") >></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
#elseif($flag == "outTimeLink")
<h1 class="text-center">LINK EXPIRED</h1>
#elseif($flag == "errorLink")
<h1 class="text-center">ERROR Link</h1>
#elseif($flag == "userNotExist")
<img src="/CKF/images/sorry.png" class="center-block">
#end