<div class="footer">
	<div class="footer-inner">
		<div class="footer-intro">
			<h6 class="footer-intro-title">Cookabuy Market</h6>
		
		</div>

		<div class="footer-row">
			<div class="footer-col footer-col-large">
				<div class="footer-sitemap">
					<dl class="footer-sitemap-section">
						
					</dl>
					<dl class="footer-sitemap-section">
						
					</dl>
					<dl class="footer-sitemap-section">
						
					</dl>
				</div>
			</div>
			<div class="footer-col">
				
			</div>
		</div>

		<ul class="footer-links">
		
		</ul>
		<p class="footer-copyright">&copy; 2015 Cooka All Rights Reserved</p>
	</div>
</div>