
<div class="my-duobao-sidebar">
	<div class="my-duobao-avatar">
		<img src="$staticConfig.getPath()/images/avatar.jpg" width="100" height="100" alt="my duobao avatar" class="center-block img-rounded img-avatar"></div>
	<ul class="my-duobao-sidebar-list">
		<li class="has-sub-side">
			<ul class="sub-side" style="display:block;">
				<li>
					<a href="/duobao-finance-web/transactionHistory">#springMessage("transaction_history")</a>
				</li>
				<li>
					<a href="/duobao-finance-web/withdraw">#springMessage("withdraw")</a>
				</li>
				<li>
					<a href="/duobao-finance-web/recharge">#springMessage("recharge")</a>
				</li>
				<li>
					<a href="/duobao-finance-web/withdrawHistory">#springMessage("withdraw_history")</a>
				</li>
				<li>
					<a href="/duobao-finance-web/rechargeHistory">#springMessage("recharge_history")</a>
				</li>
			</ul>
		</li>
	</ul>
</div>