<div class="row">
	<div class="col-md-12">
		
		<div class="ck-footer">
			<div class="ck-ft-pay text-left">
				<ul class="list-inline">
					<li><i class="ck-ft ck-ft-jcb"></i></li>
					<li><i class="ck-ft ck-ft-mastercard"></i></li>
					<li><i class="ck-ft ck-ft-paypal"></i></li>
					<li><i class="ck-ft ck-ft-visa"></i></li>
				</ul>
			</div>
			<ul class="list-inline ck-ft-ul text-center">
				<li><a href="#">#springMessage("about_us")</a></li>
				<li><a href="#">#springMessage("contact_us")</a></li>
				<li><a href="#">#springMessage("china_wholesale")</a></li>
				<li><a href="#">#springMessage("friendly_link")</a></li>
				<li><a href="#">#springMessage("partners")</a></li>
				<li><a href="#">#springMessage("payment_methods")</a></li>
				<li><a href="#">#springMessage("site_map")</a></li>
				<li><a href="#">#springMessage("security_privacy")</a></li>
				<li><a href="#">#springMessage("help")</a></li>
			</ul>
			<div class="ck-ft-certificate text-center">
				<ul class="list-inline ck-ft-ul">
					<li>No12345611222222piking , China</li>
					<li>No1234567777777fpiking , China</li>
				</ul>
				<span>Copyright Notice &copy; #springMessage("cooka_all_rights")</span>
			</div>
		</div>

	</div>
</div>