<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="$staticConfig.getPath()/images/favicon.ico">
    <link rel="apple-touch-icon" href="$staticConfig.getPath()/images/apple-touch-icon.png">
    <title>#springMessage("setting_finished")</title>
    <link rel="stylesheet" type="text/css" href="$staticConfig.getPath()/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="$staticConfig.getPath()/css/formValidation.min.css">
    <link rel="stylesheet" type="text/css" href="$staticConfig.getPath()/css/frontend.css">		
		<link rel="stylesheet" type="text/css" href="$staticConfig.getPath()/css/font-awesome.min.css">
    <!--[if lt IE 9]>
    <script src="$staticConfig.getPath()/js/libs/html5shiv.min.js"></script>
    <script src="$staticConfig.getPath()/js/libs/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                #parse("ck_header.vm")
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
	            $screen_content
            </div>
        </div>
        #parse("footer.vm")
    </div>
    

    
    <script src="$staticConfig.getPath()/js/ckLoadScript.js"></script>
	<script type="text/javascript">
	    ckLoadScript('securityQuestion');
	</script>

</body>

</html>
