<div class="home-widget hide" data-j="homeWidget">
	<span class="home-widget-remove">
		<span class="glyphicon glyphicon-remove"></span>
	</span>
	<p>Nhanh tay đăng ký, tặng ngay Voucher có giá trị
	<span class="home-widget-strong">700.000</span>
	đồng và món quà bất ngờ
	</p>
	<button type="button" class="home-widget-sign btn btn-danger btn-block">Đăng ký miễn phí</button>
</div>

<div class="home-scroll" data-j="homeScroll" data-target=".home-floor">
	<ul class="home-scroll-items">
		<li class="active">
			<a href="#home-floor-1" class="home-scroll-item" title="Giá rẻ nhất hôm nay">
				<span class="icon-zuidijia"></span>
			</a>
		</li>
		<li>
			<a href="#home-floor-2" class="home-scroll-item" title="Sản phẩm hot">
				<span class="icon-rexiao"></span>
			</a>
		</li>
		<li>
			<a href="#home-floor-3" class="home-scroll-item" title="Trang phục nữ">
				<span class="icon-nvzhuang"></span>
			</a>
		</li>
		<li>
			<a href="#home-floor-4" class="home-scroll-item" title="Trang phục nam">
				<span class="icon-nanzhuang"></span>
			</a>
		</li>
		<li>
			<a href="#home-floor-5" class="home-scroll-item" title="Đồ lót">
				<span class="icon-neiyi"></span>
			</a>
		</li>
		<li>
			<a href="#home-floor-6" class="home-scroll-item" title="Giày mũ">
				<span class="icon-xiezi"></span>
			</a>
		</li>
		<li>
			<a href="#home-floor-7" class="home-scroll-item" title="Hàng tồn kho">
				<span class="icon-weihuo"></span>
			</a>
		</li>
		<li>
			<a href="#" class="home-scroll-item up">
				<span class="icon-chevron-up"></span>
			</a>
		</li>
		<li>
			<a href="#" class="home-scroll-item down">
				<span class="icon-chevron-down"></span>
			</a>
		</li>
	</ul>
</div>

<div class="footer">
	<div class="footer-inner">
		<div class="footer-intro">
			<h6 class="footer-intro-title">Cookabuy Market</h6>
			<p>
				Mạng Cooka thuộc top 100 doanh nghiệp kinh doanh internet đứng đầu Trung Quốc, đã có hơn 8000 nhà bán buôn quần áo, xưởng may mặc tham gia vào mạng Cooka, hơn 2 triệu nhà bán lẻ nhập hàng quần áo thông qua mạng Cooka. Cooka là một trong những nhà lãnh đạo mới của Trung Quốc thuộc lĩnh vực bán buôn quần áo. Mạng Cooka chính thức gia nhập thị trường Đông Nam Á vào năm 2015, là nền tảng internet (B2B) thu mua sỉ quần áo lớn nhất ở Đông Nam Á. Chuỗi cung ứng hàng hóa hoàn thiện của mạng Cooka có thể đảm bảo cho bạn mua được nguồn hàng chất lượng tốt nhất với giá cả phải chăng nhất, để thu được lợi nhuận lớn nhất. Chủng loại các mặt hàng bán chạy đầy đủ và đa dạng, có hơn 300 nghìn mẫu trang phục nam, nữ, trẻ em, đồ lót, giày dép túi xách vv với các hạng: cao cấp, trung cấp và bình dân. Mạng Cooka trang bị một hệ thống bảo vệ toàn diện, bạn có thể thanh toán trực tuyến tại mạng Cooka hoặc thanh toán tại cửa hàng, bảo đảm cho bạn được nhập hàng một cách an toàn. Dịch vụ logistics của mạng Cooka đã bao phủ thị trường trên 52 vùng, thành phố tại Đông Nam Á và Trung Quốc. Chu kỳ vận chuyển mất khoảng bảy đến mười ngày giúp cho bạn giảm đáng kể giá thành kinh doanh và rủi ro.
			</p>
		</div>

		<div class="footer-row">
			<div class="footer-col footer-col-large">
				<div class="footer-sitemap">
					<dl class="footer-sitemap-section">
						<dt>trung tâm hỗ trợ</dt>
						<dd>
							<a href="http://www.cookabuy.com/helpcenter/index.php/page-6?stage=Stage">hướng dẫn mua hàng</a>
						</dd>
						<dd>
							<a href="http://www.cookabuy.com/helpcenter/index.php/page-14?stage=Stage">làm sao mua hàng online</a>
						</dd>
						<dd>
							<a href="http://www.cookabuy.com/helpcenter/index.php/page-10?stage=Stage">giỏ hàng</a>
						</dd>
						<dd>
							<a href="http://www.cookabuy.com/helpcenter/index.php/page-17?stage=Stage">kiểm tra đơn hàng</a>
						</dd>
					</dl>
					<dl class="footer-sitemap-section">
						<dt>thanh toán tiền hàng</dt>
						<dd>
							<a href="http://www.cookabuy.com/helpcenter/index.php/page-15/page-16?stage=Stage">chính sách thanh toán</a>
						</dd>
						<dd>
							<a href="http://www.cookabuy.com/helpcenter/index.php/page-15/page-5?stage=Stage">thanh toán offline</a>
						</dd>
						<dd>
							<a href="http://www.cookabuy.com/helpcenter/index.php/page-15/page-6?stage=Stage">thanh toán online</a>
						</dd>
					</dl>
					<dl class="footer-sitemap-section">
						<dt>vận chuyển hàng hóa</dt>
						<dd>
							<a href="http://www.cookabuy.com/helpcenter/index.php/page-11/page-2?stage=Stage">chính sách phí vận chuyển</a>
						</dd>
						<dd>
							<a href="http://www.cookabuy.com/helpcenter/index.php/page-11/page-3?stage=Stage">đảm bảo vận chuyển</a>
						</dd>
						<dd>
							<a href="http://www.cookabuy.com/helpcenter/index.php/page-11/page-0?stage=Stage">Về vận chuyển</a>
						</dd>
					</dl>
				</div>
			</div>
			<div class="footer-col">
				<span>Hotline cửa hàng Việt Nam:</span>
				<br> <strong>+84 988251998</strong>
				<hr>
				<span>Hotline nhà vận chuyển:</span>
				<br> <strong>0913199024</strong>
				<br> <strong>0912203013</strong>
				<hr>
				<span>Địa chỉ cửa hàng Việt Nam:</span>
				<br> <strong>Ki ốt số 6- Dãy B- Bada- Chợ Ninh Hiệp- Hà Nội</strong>  
				<hr>
				<span>Thời gian làm việc:</span>
				<br> <strong>Thứ 2 - thứ 7</strong>
				<br> <strong>9:00-12:00&nbsp;&nbsp;&nbsp;&nbsp;13:00-18:00</strong>
			</div>
		</div>

		<ul class="footer-links">
			<li>
				<a href="http://www.cookabuy.com/helpcenter/index.php/gii-thiu-cong-ty?stage=Stage">Giới thiệu công ty</a>
			</li>
			<li>
				<a href="http://www.cookabuy.com/helpcenter/index.php/page-2?stage=Stage">địa chỉ công ty</a>
			</li>
			<li>
				<a href="http://www.cookabuy.com/helpcenter/index.php/page-1?stage=Stage">Sơ đồ trang web</a>
			</li>
			<li>
				<a href="http://www.cookabuy.com/helpcenter/index.php/page-4/page-2?stage=Stage">hiệp định</a>
			</li>
			<li>
				<a href="http://www.cookabuy.com/helpcenter/index.php/page-4/page-3?stage=Stage">tuyên bố miễn trách</a>
			</li>
			<li>
				<a href="http://www.cookabuy.com/helpcenter/index.php/page-4/phm-vi-bo-v-quyn-li-ngi-tieu-dung?stage=Stage">bảo vệ người tiêu dùng</a>
			</li>
			<li>
				<a href="//m.kuaidi100.com" target="_blank">快递查询</a>
			</li>
		</ul>
		<p class="footer-copyright">&copy; 2015 Cooka All Rights Reserved</p>
	</div>
</div>