@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?blwls7');
    src:    url('../fonts/icomoon.eot?blwls7#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?blwls7') format('truetype'),
        url('../fonts/icomoon.woff?blwls7') format('woff'),
        url('../fonts/icomoon.svg?blwls7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-account-o:before {
    content: "\e900";
}
.icon-account-safe:before {
    content: "\e901";
}
.icon-address-o:before {
    content: "\e902";
}
.icon-arrow-down:before {
    content: "\e903";
}
.icon-arrow-up:before {
    content: "\e904";
}
.icon-back-circle-o:before {
    content: "\e905";
}
.icon-balance-inquiry:before {
    content: "\e906";
}
.icon-bank-cart-o:before {
    content: "\e907";
}
.icon-bank-o:before {
    content: "\e908";
}
.icon-barrow:before {
    content: "\e909";
}
.icon-book:before {
    content: "\e90a";
}
.icon-business-num:before {
    content: "\e90b";
}
.icon-camera:before {
    content: "\e90c";
}
.icon-cancel-delete-o:before {
    content: "\e90d";
}
.icon-cancel-favourite-o:before {
    content: "\e90e";
}
.icon-caret-down:before {
    content: "\e90f";
}
.icon-caret-left:before {
    content: "\e910";
}
.icon-caret-right:before {
    content: "\e911";
}
.icon-cart:before {
    content: "\e912";
}
.icon-cart-o:before {
    content: "\e913";
}
.icon-category-0:before {
    content: "\e914";
}
.icon-category-1:before {
    content: "\e915";
}
.icon-category-2:before {
    content: "\e916";
}
.icon-category-3:before {
    content: "\e917";
}
.icon-category-4:before {
    content: "\e918";
}
.icon-check:before {
    content: "\e919";
}
.icon-check-bold:before {
    content: "\e91a";
}
.icon-check-circle-o:before {
    content: "\e91b";
}
.icon-check-lock-o:before {
    content: "\e91c";
}
.icon-check-thin:before {
    content: "\e91d";
}
.icon-chevron-down:before {
    content: "\e91e";
}
.icon-chevron-left:before {
    content: "\e91f";
}
.icon-chevron-right:before {
    content: "\e920";
}
.icon-chevron-up:before {
    content: "\e921";
}
.icon-circle:before {
    content: "\e922";
}
.icon-circle-calculator-o:before {
    content: "\e923";
}
.icon-circle-evelope-o:before {
    content: "\e924";
}
.icon-circle-lock-o:before {
    content: "\e925";
}
.icon-circle-mobile-o:before {
    content: "\e926";
}
.icon-circle-o:before {
    content: "\e927";
}
.icon-circle-shield-o:before {
    content: "\e928";
}
.icon-click-circle:before {
    content: "\e929";
}
.icon-clip-circle:before {
    content: "\e92a";
}
.icon-close:before {
    content: "\e92b";
}
.icon-comment-o:before {
    content: "\e92c";
}
.icon-completely-delete-o:before {
    content: "\e92d";
}
.icon-coupon-o:before {
    content: "\e92e";
}
.icon-cup:before {
    content: "\e92f";
}
.icon-cup-circle:before {
    content: "\e930";
}
.icon-currency-o:before {
    content: "\e931";
}
.icon-delete-circle-o:before {
    content: "\e932";
}
.icon-delete-o:before {
    content: "\e933";
}
.icon-derive:before {
    content: "\e934";
}
.icon-due-date-o:before {
    content: "\e935";
}
.icon-earset-o:before {
    content: "\e936";
}
.icon-edit-o:before {
    content: "\e937";
}
.icon-email:before {
    content: "\e938";
}
.icon-email-o:before {
    content: "\e939";
}
.icon-envelope-o:before {
    content: "\e93a";
}
.icon-eye:before {
    content: "\e93b";
}
.icon-eye-circle:before {
    content: "\e93c";
}
.icon-facebook:before {
    content: "\e93d";
}
.icon-failed-bold:before {
    content: "\e93e";
}
.icon-failed-circle-o:before {
    content: "\e93f";
}
.icon-failed-thin:before {
    content: "\e940";
}
.icon-favorite-o:before {
    content: "\e941";
}
.icon-favourite-circle-o:before {
    content: "\e942";
}
.icon-floppy-disk:before {
    content: "\e943";
}
.icon-google-plus:before {
    content: "\e944";
}
.icon-hand-circle:before {
    content: "\e945";
}
.icon-head:before {
    content: "\e946";
}
.icon-heart-ok-circle:before {
    content: "\e947";
}
.icon-help:before {
    content: "\e948";
}
.icon-horn-o:before {
    content: "\e949";
}
.icon-how-pay:before {
    content: "\e94a";
}
.icon-leather:before {
    content: "\e94b";
}
.icon-lock-circle:before {
    content: "\e94c";
}
.icon-lock-o:before {
    content: "\e94d";
}
.icon-login:before {
    content: "\e94e";
}
.icon-logistics:before {
    content: "\e94f";
}
.icon-menu:before {
    content: "\e950";
}
.icon-minus:before {
    content: "\e951";
}
.icon-mobile-o:before {
    content: "\e952";
}
.icon-nanzhuang:before {
    content: "\e953";
}
.icon-neiyi:before {
    content: "\e954";
}
.icon-new-drivers:before {
    content: "\e955";
}
.icon-nvzhuang:before {
    content: "\e956";
}
.icon-order-mgr:before {
    content: "\e957";
}
.icon-order-o:before {
    content: "\e958";
}
.icon-order-search:before {
    content: "\e959";
}
.icon-paper:before {
    content: "\e95a";
}
.icon-payment:before {
    content: "\e95b";
}
.icon-phone:before {
    content: "\e95c";
}
.icon-phone-service:before {
    content: "\e95d";
}
.icon-pick-comm:before {
    content: "\e95e";
}
.icon-plane-circle:before {
    content: "\e95f";
}
.icon-plus:before {
    content: "\e960";
}
.icon-plus-thin:before {
    content: "\e961";
}
.icon-poweroff:before {
    content: "\e962";
}
.icon-refresh:before {
    content: "\e963";
}
.icon-refund:before {
    content: "\e964";
}
.icon-refund-error-o:before {
    content: "\e965";
}
.icon-refund-money:before {
    content: "\e966";
}
.icon-register:before {
    content: "\e967";
}
.icon-return:before {
    content: "\e968";
}
.icon-return-box:before {
    content: "\e969";
}
.icon-revoke-circle-o:before {
    content: "\e96a";
}
.icon-rexiao:before {
    content: "\e96b";
}
.icon-search:before {
    content: "\e96c";
}
.icon-search-circle:before {
    content: "\e96d";
}
.icon-service-protocol:before {
    content: "\e96e";
}
.icon-share-alt:before {
    content: "\e96f";
}
.icon-shirt:before {
    content: "\e970";
}
.icon-shirt-circle:before {
    content: "\e971";
}
.icon-skirt:before {
    content: "\e972";
}
.icon-skirt-circle:before {
    content: "\e973";
}
.icon-sort-asce:before {
    content: "\e974";
}
.icon-sort-desc:before {
    content: "\e975";
}
.icon-sort-unchange:before {
    content: "\e976";
}
.icon-square:before {
    content: "\e977";
}
.icon-square-o:before {
    content: "\e978";
}
.icon-star:before {
    content: "\e979";
}
.icon-star-solid:before {
    content: "\e97a";
}
.icon-step-arrow:before {
    content: "\e97b";
}
.icon-stock:before {
    content: "\e97c";
}
.icon-stock-mgr:before {
    content: "\e97d";
}
.icon-submit-order:before {
    content: "\e97e";
}
.icon-suggestion-message:before {
    content: "\e97f";
}
.icon-trace:before {
    content: "\e980";
}
.icon-user:before {
    content: "\e981";
}
.icon-user-circle:before {
    content: "\e982";
}
.icon-user-name:before {
    content: "\e983";
}
.icon-vertify-code-o:before {
    content: "\e984";
}
.icon-vest:before {
    content: "\e985";
}
.icon-vest-circle:before {
    content: "\e986";
}
.icon-wait-o:before {
    content: "\e987";
}
.icon-wallet:before {
    content: "\e988";
}
.icon-warning-circle:before {
    content: "\e989";
}
.icon-warning-o:before {
    content: "\e98a";
}
.icon-weihuo:before {
    content: "\e98b";
}
.icon-xiezi:before {
    content: "\e98c";
}
.icon-zuidijia:before {
    content: "\e98d";
}

